<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="app">
    <div v-if="books.length > 0">
        <table>

            <thead>
            <td>
                <tr>
                    id
                </tr>
                <tr>
                    书名
                </tr>
                <tr>
                    出版日期
                </tr>
                <tr>
                    单价
                </tr>
                <tr>
                    购买数量
                </tr>
                <tr>
                    操作
                </tr>
            </td>
            </thead>

            <tbody>
            <tr v-for="(book, index) in books">
                <td>
                    {{book.id}}
                </td>
                <td>
                    {{book.name}}
                </td>
                <td>
                    {{book.date}}
                </td>
                <td>
                    {{book.price | showPrice}}
                </td>
                <td>
                    <button @click="decrement(index)" v-bind:disabled="book.count <= 1">-</button>
                    {{book.count}}
                    <button @click="increment(index)">+</button>
                </td>
                <td>
                    <button @click="remove(index)">移除</button>
                </td>
            </tr>
            </tbody>
        </table>
        <h2>总价值：{{total | showPrice}}</h2>
    </div>

    <div v-else>
        购物车为空
    </div>

</div>

<script src="../../js/vue.js"></script>
<script src="main.js"></script>
<script>


</script>

</body>
</html>